<!-- <div class="mainBoard">
    <div class="cardLayout">
        <div class="card">
            <h2 class="card-header" style="background-color: rgb(144, 144, 163); text-align: center">
                Application Administration
            </h2> -->
<div class="loading-overlay" [ngClass]="{ 'show': showPreview }"></div>
<div class="card-body">
    <h3>Login As Admin</h3>
    <form (ngSubmit)="onClick(adminForm)" #adminForm="ngForm">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <label>Username* :</label>
                <input type="text" required ngModel name="UserName" class="form-control custom-input"
                    placeholder="Enter User Name" autocomplete="off" />
                <div class="error"
                    *ngIf="adminForm.controls['UserName']?.touched && adminForm.controls['UserName'].errors?.['required']">
                    Username is required
                </div>
            </div>
            <div class="col-md-12 col-sm-12" style="padding-top: 5px;">
                <label>Password* :</label>
                <input type="password" required ngModel name="Password" class="form-control custom-input"
                    placeholder="Please Enter Password" />
                <div class="error"
                    *ngIf="adminForm.controls['Password']?.touched && adminForm.controls['Password'].errors?.['required']">
                    Password is required
                </div>
            </div>
        </div>
        <div style="padding-top: 20px; align-items: center; text-align: center;">
            <button mat-raised-button color="primary">Log in</button>
        </div>
    </form>
</div>
<!-- </div>
    </div>
</div> -->

<!-- <alert></alert> -->