<div>
  <div id="wrapper">
    <div>
      <app-home-header></app-home-header>
    </div>
    <div class="d-flex flex-column" id="content-wrapper">
      <div id="content">
        <div class="container-fluid">
          <h2 class="text-dark mb-4" style="padding-top: 10px">
            Customize Your Organization Profile
          </h2>
          <div class="row mb-3">
            <div class="col-lg-4">
              <div class="card mb-3">
                <div class="card-body text-center shadow">
                  <div>
                    <h2 style="text-decoration: underline">
                      Organization Logo
                    </h2>
                  </div>
                  <img
                    class="rounded-circle mb-3 mt-4"
                    src={{newLogo}}
                    width="160"
                    height="160"
                  />
                  <div class="mb-3">
                    <input
                      type="file"
                      hidden
                      #filePicker
                      accept="image/svg+xml, image/png, image/jpeg"
                      (change)="changeLogoEvent($event)"
                    />
                    <!-- <button
                      mat-raised-button
                      color="primary"
                      (click)="filePicker.click()"
                      type="button"
                    >
                      Change Logo
                    </button> -->
                  </div>
                </div>
              </div>
              <div class="card shadow mb-4"></div>
            </div>
            <div class="col-lg-8">
              <div class="row">
                <div class="col">
                  <div class="card shadow mb-3">
                    <div class="card-header py-2">
                      <p style="font-size: 18px; color: black">
                        Organization Settings
                      </p>
                    </div>
                    <div class="card-body">
                      <form (ngSubmit)="onSettingsForm(personalForm)" #personalForm="ngForm">
                        <div class="row">
                          <div class="col">
                            <div class="mb-3">
                              <label class="form-label" for="name"
                                ><strong>Organization Name *</strong></label
                              ><input
                                class="form-control"
                                type="text"
                                id="name"
                                placeholder="Organization Name"
                                name="name"
                                required
                                [(ngModel)]="name"
                              />
                            </div>
                            <div class="error" *ngIf="personalForm.controls['name']?.touched && personalForm.controls['name'].errors?.['required']">
                              Organization Name is required
                            </div>
                          </div>
                          <div class="col">
                            <div class="mb-3">
                              <label class="form-label" for="email"
                                ><strong>Email Address *</strong></label
                              ><input
                                class="form-control"
                                type="email"
                                id="email"
                                placeholder="abc@example.com"
                                name="email"
                                required
                                pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
                                [(ngModel)]="email"
                              />
                            </div>
                            <div class="error"
                              *ngIf="personalForm.controls['email']?.touched && personalForm.controls['email'].errors?.['required']">
                              Email is required
                            </div>
                            <div class="error"
                                *ngIf="personalForm.controls['email']?.touched && personalForm.controls['email'].errors?.['pattern']">
                                Email is Invalid
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <div class="mb-3">
                              <label class="form-label" for="fname"
                                ><strong>First Name *</strong></label
                              ><input
                                class="form-control"
                                type="text"
                                id="fname"
                                placeholder="First Name"
                                required
                                [(ngModel)]="fname"
                                name="fname"
                              />
                            </div>
                            <div class="error"
                              *ngIf="personalForm.controls['fname']?.touched && personalForm.controls['fname'].errors?.['required']">
                              First Name is required
                            </div>
                          </div>
                          <div class="col">
                            <div class="mb-3">
                              <label class="form-label" for="lname"
                                ><strong>Last Name *</strong></label
                              ><input
                                class="form-control"
                                type="text"
                                id="lname"
                                required
                                [(ngModel)]="lname"
                                placeholder="Last Name"
                                name="lname"
                              />
                            </div>
                            <div class="error"
                              *ngIf="personalForm.controls['lname']?.touched && personalForm.controls['lname'].errors?.['required']">
                              Last Name is required
                            </div>
                          </div>
                        </div>
                        <!-- <div class="mb-3">
                          <button
                            mat-raised-button
                            color="primary"
                            type="button"
                          >
                            Save
                          </button>
                        </div> -->
                      <!-- </form> -->
                    <!-- </div>
                  </div>
                  <div class="card shadow"> -->
                    <div class="card-header py-2 mb-3">
                      <h3>Contact Details</h3>
                    </div>
                    <!-- <div class="card-body">
                      <form> -->
                        <div class="row">
                          <div class="col">
                            <div class="mb-3">
                              <label class="form-label" for="state"
                                ><strong>State *</strong></label
                              ><input
                                class="form-control"
                                type="text"
                                id="state"
                                placeholder="Enter State"
                                name="state"
                                required
                                [(ngModel)]="state"
                              />
                            </div>
                            <div class="error"
                              *ngIf="personalForm.controls['state']?.touched && personalForm.controls['state'].errors?.['required']">
                              State is required
                            </div>
                          </div>
                          <div class="col">
                            <div class="mb-3">
                              <label class="form-label" for="pincode"
                                ><strong>Pin Code *</strong></label
                              ><input
                                class="form-control"
                                type="number"
                                id="pincode"
                                placeholder="Enter Pin Code"
                                name="pincode"
                                required
                                [(ngModel)]="pincode"
                              />
                            </div>
                            <div class="error"
                              *ngIf="personalForm.controls['pincode']?.touched && personalForm.controls['pincode'].errors?.['required']">
                              Pin Code is required
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col">
                            <div class="mb-3">
                              <label class="form-label" for="city"
                                ><strong>City *</strong></label
                              ><input
                                class="form-control"
                                type="text"
                                id="city"
                                placeholder="Enter City"
                                name="city"
                                [(ngModel)]="city"
                                required
                              />
                            </div>
                            <div class="error"
                              *ngIf="personalForm.controls['city']?.touched && personalForm.controls['city'].errors?.['required']">
                              City is required
                            </div>
                          </div>
                          <div class="col">
                            <div class="mb-3">
                              <label class="form-label" for="phone"
                                ><strong>Organization Phone No *</strong></label
                              ><input
                                class="form-control"
                                type="number"
                                id="phone"
                                placeholder="Enter Phone No"
                                name="phone"
                                [(ngModel)]="phone"
                                required
                              />
                            </div>
                            <div class="error"
                              *ngIf="personalForm.controls['phone']?.touched && personalForm.controls['phone'].errors?.['required']">
                              Phone No is required
                            </div>
                          </div>
                        </div>
                        <div class="mb-3">
                          <button
                            mat-raised-button
                            color="primary"
                            [disabled]="personalForm.invalid"
                          >
                            Save Details
                          </button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card shadow mb-5"></div>
        </div>
      </div>
    </div>
    <a class="border rounded d-inline scroll-to-top" href="#page-top"
      ><i class="fas fa-angle-up"></i
    ></a>
  </div>
  <div>
    <app-footer></app-footer>
  </div>
</div>
