<div>
    <nav class="navbar navbar-expand-md bg-body" style="border-bottom: 1px solid grey;">
        <div class="container-fluid">
            <a class="navbar-brand d-flex align-items-center" href="/#/home">
                <span>ImgDotPix</span>
            </a>
            <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1" >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navcol-1" >
                <ul class="navbar-nav mx-auto">
                    <!-- <a class="nav-link active" href="/#/home">Home</a> -->
                    <!-- <li class="nav-item">
                        <a class="nav-link active" href="/report">Reports</a>
                    </li> -->
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="#">Second Item</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Third Item</a>
                    </li> -->
                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">Products</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/#/products/report">Chest X-Ray Reporting</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">About Us</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="/#/contactus">Contact Us</a>
                        </div>
                    </li>
                    <div *ngIf="isAdminLogin">
                        <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">Controls</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/#/organization">Organizations Details</a>
                                <a class="dropdown-item" href="/#/dashboard">Reports Details</a>
                            </div>
                        </li>
                    </div>
                </ul>
                <div *ngIf="canAccess && isAdminLogin"> 
                    <div class="bell-icon" >
                        <span class="icon" (click)="toggleBell()" [matMenuTriggerFor]="beforeMenu">    
                        <i matTooltip="Notifications" class="fas fa-bell fa-fw"></i>
                        <span  class="badge bg-danger badge-counter" *ngIf="notificationCount > 0">{{ (notificationCount>10)?'10+':notificationCount }}</span>
                        </span>
                    </div>
                    <mat-menu #beforeMenu="matMenu" xPosition="before">
                        <div *ngIf="notificationCount > 0">
                            <div mat-menu-item *ngFor="let msg of allMessages">
                                <p>{{msg}}</p>
                            </div>
                        </div>
                        <div mat-menu-item *ngIf="notificationCount == 0" >
                            <p>No Notifications!!</p>
                        </div>
                    </mat-menu>
                </div>
                <div class="" style="margin-top:5px">
                    <span class="icon" [matMenuTriggerFor]="beforeMenuManage">    
                    <i class="fa-solid fa-gear" style="font-size: 16px;"></i>
                    </span>
                </div>
                <mat-menu #beforeMenuManage="matMenu" xPosition="before">
                    <div *ngIf="canAccess && !isAdminLogin"><button mat-menu-item (click)="onProfile()"><mat-icon>account_circle</mat-icon>Profile</button></div>
                    <div *ngIf="canAccess  && !isAdminLogin"><button mat-menu-item (click)="onForgetPassword()"><mat-icon>lock</mat-icon>Change Password</button></div>
                    <!-- <div><button mat-menu-item (click)="onHelp()"><mat-icon>help_outline</mat-icon>Help</button></div> -->
                    <div *ngIf="canAccess"><button  mat-menu-item (click)="onLogout()"><mat-icon>logout</mat-icon>Logout</button></div>
                    <div *ngIf="!canAccess"><button  mat-menu-item (click)="onLogin()"><mat-icon>login</mat-icon>Login</button></div>
                    <div *ngIf="!canAccess"><button  mat-menu-item (click)="onRegister()"><mat-icon>account_circle</mat-icon>Signup</button></div>
                </mat-menu>
            </div>
        </div>
    </nav>
</div>