/* bell-icon.component.css */

// .bell-icon {
//     // position: relative;
//   }
  
  .icon {
    cursor: pointer;
  }
  
  .badge {
    position: relative;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 4px 1px;
    font-size: 9px;
    top: -8px;
    right: 9px;
  }
  