<div class="wrapper">
    <div class="line"></div>
    <div class="card">
      <h2 class="card-header" style="background-color: rgb(144, 144, 163); text-align: center">
          Application Administration Dashboard
      </h2>
    </div>
    <div class="content">
        <div class="container">
            <div>
                <h1 style="text-align: center; text-decoration: underline;">Welcome Back Admin!</h1>
                <h3>Export all the Patients data in CSV fromat by clicking the Download button.</h3>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" [(ngModel)]="termsCondition">
                <label class="form-check-label" for="flexCheckChecked">
                  Agree to Terms and Condition
                </label>
              </div>
            <div style="padding: 10px 0px;">
                <button [disabled]="!termsCondition" mat-raised-button (click)="onGetAllData()" color="primary">
                  <mat-icon>download</mat-icon>Download Data
                </button>
            </div>
            <!-- {{termsCondition}} -->
        </div>
    </div>
    <app-footer></app-footer>
  </div>
  