.mainW {
  background-color: rgb(207, 205, 205);
  height: 100vh;
}

.btns{
    text-decoration: none;
    border: none;
    color: black;
    background-color: #ffffff;
}

.btns:hover{
    color: blue;
    transform: scale(1.2);
}

.btns-terms{
    text-decoration: underline;
    border: none;
    color: black;
    background-color: #ffffff;
}

.cardLayout {
  padding-top: 50px;
  // height: 500px;
}
.error {
  color: rgb(255, 0, 0);
  background-color: white;
}

.columns{
  padding-bottom: 1rem;
}

.btns{
  margin-top: .5rem;
  padding-bottom: 20px;
  display: block;
  text-align: right;
}
.error{
  color: rgb(255, 0, 0);
  background-color: white;
  
}
.checkout{
  height: 10px;
}