<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <div class="container-fluid">
    <button mat-button (click)="openDashboardPage()"><mat-icon>home</mat-icon></button>
    <div>
      <button mat-button (click)="openOrganizationPage()"
        style="position: absolute;left: 4%;top: 18%;"><mat-icon>supervisor_account</mat-icon></button>
    </div>
    <a class="navbar-brand"></a>
    <div class="d-flex">
      <button mat-button [matMenuTriggerFor]="beforeMenu"><mat-icon>manage_accounts</mat-icon></button>
      <mat-menu #beforeMenu="matMenu" xPosition="before">
          <button  mat-menu-item (click)="onLogout()"><mat-icon>logout</mat-icon>Logout</button>
      </mat-menu>
    </div>
  </div>
</nav>
