<<<<<<< HEAD
.main {
  margin: 0;
  padding: 0;
  min-height: 100vh !important;
  display: flex;
  flex-direction: column;
//   background: linear-gradient(171deg, var(--bs-pink) 0%, var(--bs-indigo) 100%),
//     var(--bs-purple);
}
=======
>>>>>>> main
