.main {
  margin: 0;
  padding: 0;
  height: 100vh ;
  // display: flex;
  // flex-direction: column;
}
// .card{
//   width: 50%;
//   margin: 0px 10px;
//   border-radius: 10px;
//   box-shadow: 20px black;
// }

// img{
//   border-radius: 10px;
// }

// img:hover{
//   scale: 0.89;
//   transition: 1s;
// }