<div>
    <div>
        <app-home-header></app-home-header>
    </div>
    <div class="container">
        <section class="py-4 py-md-5 mt-4">
            <div class="container">
                <div class="row d-flex align-items-center">
                    <div class="col-md-6 text-center"><img class="img-fluid w-100" src="../../../../assets/desk.svg">
                    </div>
                    <div class="col-md-5 col-xl-4 text-center text-md-start">
                        <h2 class="display-6 fw-bold mb-4">
                            Change your <span class="underline">password</span>?
                        </h2>
                        <p class="text-muted">
                            Enter the old password associated with your account and set a new
                            password.
                        </p>
                        <form data-bs-theme="light" (ngSubmit)="onChangePassword(passwordForm)" #passwordForm="ngForm">
                            <div class="mb-3">
                                <input class="shadow form-control" type="password" name="oldPassword" [(ngModel)]="oldPassword" required
                                    placeholder="Old Password *" />
                            </div>
                            <div class="error"
                                *ngIf="passwordForm.controls['oldPassword']?.touched && passwordForm.controls['oldPassword'].errors?.['required']">
                                Old Password is required
                            </div>
                            <div class="mb-3">
                                <input class="shadow form-control" type="password" name="newPassword" [(ngModel)]="newPassword" required
                                    placeholder="New Password *" />
                            </div>
                            <div class="error"
                                *ngIf="passwordForm.controls['newPassword']?.touched && passwordForm.controls['newPassword'].errors?.['required']">
                                 New Password is required
                            </div>
                            <div class="mb-3">
                                <input class="shadow form-control" type="password" name="renewPassword" [(ngModel)]="renewPassword" required
                                    placeholder="Re Enter New Password *" />
                            </div>
                            <div class="error"
                                *ngIf="passwordForm.controls['renewPassword']?.touched && passwordForm.controls['renewPassword'].errors?.['required']">
                                 New Password is required
                            </div>
                            <div class="mb-5">
                                <button class="btn btn-primary shadow" type="submit" [disabled]="passwordForm.invalid">
                                    Reset password
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div>
        <app-footer></app-footer>
    </div>
</div>