<h2 mat-dialog-title>Terms and Condition</h2>
<mat-dialog-content class="mat-typography">
  <p style="color: black;">
    <p>Please read before accepting: The following are the terms and conditions to protect the user (you) and imgdotpix company interests and ensure responsible use the reporting system:</p>
    <p>Acceptance of Terms: Users agrees to the terms and conditions before access the system means before the registration or login process.</p>
    <p>User Eligibility:  The User agrees that the qualification mentioned in the login form are correct and it will be the sole responsibility of the user if qualification found incorrect later.</p>
    <p>Access Control:  The user access, including the login credentials (username and password) provided by imgdotpix should not be shared with others.</p>
    <p>Purpose of Access: The system and database will be used only for the X-ray reporting and machine learning model training in this case.</p>
    <p>Data Usage: The data uploaded to your system for training machine learning model and data privacy will be maintained at both end. The users will retain ownership of their data but grant a license to use it for machine learning model training. The trained machine learning models or other intellectual property developed using the data will be owned by imgdotpix and users will receive the model for free as stated.</p>
    <p>Privacy and Security: The data will be treated with the utmost confidentiality and security. The data will be stored in database and then safely in safe hardware.</p>
    <p>Termination of Access: The user access may be terminated or suspended in the condition such as misuse of access/ unauthorised access / similar product use in the system or violations of the terms and conditions.</p>
    <p>Liability and Disclaimers: The system availability, accuracy of reports, and any potential risks associated with using the system will be the user liability.</p>
    <p>Updates and Changes: The imgdotpix reserve the right to update the software, terms and conditions and imgdotpix will inform users of any changes on the registered email.</p>
    <p>User Responsibilities: It will be the responsibility of users, such as ensuring the accuracy of data they upload and compliance with all applicable laws and regulations.</p>
    <p>Duration of Agreement: The duration of the agreement will be for 5 years and will be renewed after every five years. Either party is free to terminate the agreement anytime.</p>
    <p>Support and Contact Information</p>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close="cancel">Decline</button>
  <button mat-raised-button color="primary"  mat-dialog-close="accept" cdkFocusInitial>Accept</button>
</mat-dialog-actions>