.footer {
    background-color: #535252;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  .container {
    text-align: center;
  }
  
  .contact{
    color:white;
    text-decoration: none;
  }